/// <mls shortName="organismViewMyAppointments" project="102009" enhancement="enhancementStyle" folder="petshop" />
petshop--organism-view-my-appointments-102009 {
    width: 100%;
    height: 100%;
  .section-card {
    margin-bottom: @space-24;
  }

  .form-container{
    height: 100%;
  }

}


