/// <mls shortName="globalStyle" project="102009" enhancement="_blank" folder="wwwroot" />
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  box-sizing: border-box;
}
petshop--organism-admin-nav-102009 {
  display: none !important;
}
h2 {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary-color);
  margin-bottom: var(--space-24);
  text-align: center;
}
.form-group {
  margin-bottom: var(--space-16);
}
.form-actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
label {
  display: block;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-normal);
  color: var(--text-primary-color);
  margin-bottom: var(--space-8);
}
input,
textarea,
select {
  width: 100%;
  padding: var(--space-8);
  font-size: var(--font-size-16);
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  background-color: var(--bg-primary-color-lighter);
  color: var(--text-primary-color);
  line-height: var(--line-height-medium);
}
input[readonly],
textarea[readonly],
select[readonly] {
  background-color: var(--grey-color-lighter);
}
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--active-color);
  outline-offset: 2px;
}
textarea {
  resize: vertical;
  min-height: 80px;
}
button,
.btn {
  padding: var(--space-8) var(--space-16);
  border: none;
  border-radius: 4px;
  font-size: var(--font-size-16);
  cursor: pointer;
  transition: background-color var(--transition-normal);
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
button:focus,
.btn:focus {
  outline: 2px solid var(--active-color);
  outline-offset: 2px;
}
button span.loading,
.btn span.loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}
.btn-save {
  background-color: var(--success-color);
  color: var(--bg-primary-color-lighter);
}
.btn-save:hover {
  background-color: var(--success-color-hover);
}
.btn-cancel {
  background-color: var(--warning-color);
  color: var(--bg-primary-color-lighter);
}
.btn-cancel:hover {
  background-color: var(--warning-color-hover);
}
.btn-delete {
  background-color: var(--error-color);
  color: var(--bg-primary-color-lighter);
}
.btn-back {
  background-color: var(--bg-secondary-color);
  color: var(--text-primary-color);
}
.btn-back:hover {
  background-color: var(--bg-secondary-color-hover);
}
.form-container {
  padding: var(--space-24);
  background-color: var(--bg-primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.message {
  margin-top: var(--space-16);
  padding: var(--space-8);
  background-color: var(--bg-secondary-color);
  color: var(--text-primary-color);
  border-radius: 4px;
  text-align: center;
}
.field-value {
  display: block;
  font-size: var(--font-size-16);
  color: var(--text-primary-color);
  padding: var(--space-8);
  background-color: var(--bg-primary-color-lighter);
  border: 1px solid var(--grey-color);
  border-radius: 4px;
}
.section-card {
  padding: var(--space-24);
  background-color: var(--bg-primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--space-24);
}
.section-card h3 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary-color);
  margin-bottom: var(--space-16);
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}
th,
td {
  padding: var(--space-8);
  border: 1px solid var(--grey-color);
  text-align: left;
}
th {
  background-color: var(--bg-secondary-color);
  font-weight: var(--font-weight-bold);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-color-hover);
}
.pagination {
  margin-top: var(--space-16);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);
}
.pagination button {
  margin: 0 var(--space-8);
}
.pagination button.active {
  background-color: var(--active-color);
  color: var(--bg-primary-color-lighter);
}
.pagination button:disabled {
  background-color: var(--bg-primary-color-disabled);
  color: var(--text-primary-color-disabled);
  cursor: not-allowed;
}
.error-message {
  color: var(--error-color);
  font-size: var(--font-size-12);
  margin-bottom: var(--space-16);
  display: block;
}
.ok-message {
  color: var(--success-color);
  font-size: var(--font-size-12);
  margin-bottom: var(--space-16);
  display: block;
}
@media (max-width: 768px) {
  .form-container {
    padding: var(--space-16);
  }
  .pagination {
    flex-wrap: wrap;
  }
  .pagination button {
    margin: var(--space-8);
  }
  h2 {
    font-size: var(--font-size-20);
    margin-bottom: var(--space-16);
  }
  button {
    padding: var(--space-16);
  }
  .section-card {
    padding: var(--space-16);
  }
  table {
    font-size: var(--font-size-12);
  }
  th,
  td {
    padding: var(--space-8);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


:root{
	--text-primary-color-lighter: #535353;
	--text-primary-color-lighter-hover: #5f5f5f;
	--text-primary-color-lighter-focus: #4a4a4a;
	--text-primary-color-lighter-disabled: #696969;
	--text-primary-color: #403f3f;
	--text-primary-color-hover: #4b4a4a;
	--text-primary-color-focus: #353434;
	--text-primary-color-disabled: #525151;
	--text-primary-color-darker: #000000;
	--text-primary-color-darker-hover: #1a1a1a;
	--text-primary-color-darker-focus: #0d0d0d;
	--text-primary-color-darker-disabled: #262626;
	--text-secondary-color-lighter: #408EC8;
	--text-secondary-color-lighter-hover: #4a9adb;
	--text-secondary-color-lighter-focus: #377bb0;
	--text-secondary-color-lighter-disabled: #629fd2;
	--text-secondary-color: #1C91CD;
	--text-secondary-color-hover: #2a9edb;
	--text-secondary-color-focus: #1786b7;
	--text-secondary-color-disabled: #55b4e1;
	--text-secondary-color-darker: #0F6FA9;
	--text-secondary-color-darker-hover: #1b7bb5;
	--text-secondary-color-darker-focus: #0c6495;
	--text-secondary-color-darker-disabled: #3a9ec1;
	--bg-primary-color-lighter: #ffffff;
	--bg-primary-color-lighter-hover: #f2f2f2;
	--bg-primary-color-lighter-focus: #e6e6e6;
	--bg-primary-color-lighter-disabled: #d9d9d9;
	--bg-primary-color: #ffffff;
	--bg-primary-color-hover: #f2f2f2;
	--bg-primary-color-focus: #e6e6e6;
	--bg-primary-color-disabled: #d9d9d9;
	--bg-primary-color-darker: #fafafa;
	--bg-primary-color-darker-hover: #f5f5f5;
	--bg-primary-color-darker-focus: #eeeeee;
	--bg-primary-color-darker-disabled: #e0e0e0;
	--bg-secondary-color-lighter: #F9F9F9;
	--bg-secondary-color-lighter-hover: #f4f4f4;
	--bg-secondary-color-lighter-focus: #efefef;
	--bg-secondary-color-lighter-disabled: #eaeaea;
	--bg-secondary-color: #E6E6E6;
	--bg-secondary-color-hover: #d9d9d9;
	--bg-secondary-color-focus: #cccccc;
	--bg-secondary-color-disabled: #bfbfbf;
	--bg-secondary-color-darker: #C0C0C0;
	--bg-secondary-color-darker-hover: #b3b3b3;
	--bg-secondary-color-darker-focus: #a6a6a6;
	--bg-secondary-color-darker-disabled: #999999;
	--grey-color-lighter: #F9FAFB;
	--grey-color-light: #F2F2F2;
	--grey-color: #E6E6E6;
	--grey-color-dark: #D3D3D3;
	--grey-color-darker: #C0C0C0;
	--error-color: #FF4D4F;
	--error-color-hover: #ff6666;
	--error-color-focus: #e63e3e;
	--error-color-disabled: #ff9999;
	--success-color: #52C41A;
	--success-color-hover: #66d93f;
	--success-color-focus: #4ca610;
	--success-color-disabled: #8cd78e;
	--warning-color: #FAAD14;
	--warning-color-hover: #fbbd34;
	--warning-color-focus: #e09a0e;
	--warning-color-disabled: #fdd55e;
	--info-color: #0a6dc9;
	--info-color-hover: #1b7edb;
	--info-color-focus: #006ab3;
	--info-color-disabled: #66a8e1;
	--active-color: #1890FF;
	--active-color-hover: #1a99ff;
	--active-color-focus: #0e80cc;
	--active-color-disabled: #66b3ff;
	--link-color: #1890FF;
	--link-color-hover: #1a99ff;
	--link-color-focus: #0e80cc;
	--link-color-disabled: #66b3ff;
	--font-base-unit: .25rem;
	--font-family-primary: 'Charlie Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-family-secondary: serif;
	--font-size-12: calc(var(--font-base-unit) * 3);
	--font-size-16: calc(var(--font-base-unit) * 4);
	--font-size-20: calc(var(--font-base-unit) * 5);
	--font-size-24: calc(var(--font-base-unit) * 6);
	--font-size-40: calc(var(--font-base-unit) * 10);
	--font-size-48: calc(var(--font-base-unit) * 12);
	--font-size-64: calc(var(--font-base-unit) * 16);
	--line-height-base-unit: 1;
	--line-height-small: calc(var(--line-height-base-unit) * 1.1);
	--line-height-medium: calc(var(--line-height-base-unit) * 1.3);
	--line-height-large: calc(var(--line-height-base-unit) * 1.5);
	--font-weight-lighter: 100;
	--font-weight-light: 200;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--font-weight-bolder: 900;
	--breakpoint-small: 544px;
	--breakpoint-medium: 768px;
	--breakpoint-large: 1012px;
	--transition-slow: 0.2s;
	--transition-normal: 0.3s;
	--transition-fast: 0.5s;
	--space-base-unit: 0.25rem;
	--space-8: calc(var(--space-base-unit) * 2);
	--space-16: calc(var(--space-base-unit) * 4);
	--space-24: calc(var(--space-base-unit) * 6);
	--space-32: calc(var(--space-base-unit) * 8);
	--space-40: calc(var(--space-base-unit) * 10);
	--space-48: calc(var(--space-base-unit) * 12);
	--space-64: calc(var(--space-base-unit) * 16);
}
[data-theme="dark"] {
	--text-primary-color-lighter: #FFFFFF;
	--text-primary-color-lighter-hover: #f2f2f2;
	--text-primary-color-lighter-focus: #e6e6e6;
	--text-primary-color-lighter-disabled: #d9d9d9;
	--text-primary-color: #e6edf3;
	--text-primary-color-hover: #d1d9e4;
	--text-primary-color-focus: #c3cfd8;
	--text-primary-color-disabled: #b0b8c4;
	--text-primary-color-darker: #8d96a0;
	--text-primary-color-darker-hover: #a1aab0;
	--text-primary-color-darker-focus: #7a828a;
	--text-primary-color-darker-disabled: #b1b7bd;
	--text-secondary-color-lighter: #5294c7;
	--text-secondary-color-lighter-hover: #63a2d8;
	--text-secondary-color-lighter-focus: #4787b2;
	--text-secondary-color-lighter-disabled: #78b0e0;
	--text-secondary-color: #56a8d1;
	--text-secondary-color-hover: #68b8e0;
	--text-secondary-color-focus: #4b9cc4;
	--text-secondary-color-disabled: #80c4e5;
	--text-secondary-color-darker: #bddef3;
	--text-secondary-color-darker-hover: #c7e3f5;
	--text-secondary-color-darker-focus: #a3c8e5;
	--text-secondary-color-darker-disabled: #d3e9f7;
	--bg-primary-color-lighter: #666666;
	--bg-primary-color-lighter-hover: #7a7a7a;
	--bg-primary-color-lighter-focus: #5c5c5c;
	--bg-primary-color-lighter-disabled: #808080;
	--bg-primary-color: #0d1117;
	--bg-primary-color-hover: #1a1f24;
	--bg-primary-color-focus: #0a0e13;
	--bg-primary-color-disabled: #2b3036;
	--bg-primary-color-darker: #262626;
	--bg-primary-color-darker-hover: #333333;
	--bg-primary-color-darker-focus: #1f1f1f;
	--bg-primary-color-darker-disabled: #404040;
	--bg-secondary-color-lighter: #636363;
	--bg-secondary-color-lighter-hover: #757575;
	--bg-secondary-color-lighter-focus: #4e4e4e;
	--bg-secondary-color-lighter-disabled: #808080;
	--bg-secondary-color: #161b22;
	--bg-secondary-color-hover: #1f2329;
	--bg-secondary-color-focus: #0f1418;
	--bg-secondary-color-disabled: #2c3238;
	--bg-secondary-color-darker: #4b3f3f;
	--bg-secondary-color-darker-hover: #5b4f4f;
	--bg-secondary-color-darker-focus: #3f2f2f;
	--bg-secondary-color-darker-disabled: #6a5c5c;
	--grey-color-lighter: #2B2B2B;
	--grey-color-light: #414141;
	--grey-color: #575757;
	--grey-color-dark: #6D6D6D;
	--grey-color-darker: #969494;
	--error-color: #f9676a;
	--error-color-hover: #ff7b7f;
	--error-color-focus: #e5565e;
	--error-color-disabled: #ff9b9e;
	--success-color: #63d42b;
	--success-color-hover: #75d93d;
	--success-color-focus: #55b825;
	--success-color-disabled: #8ade5f;
	--warning-color: #eead2b;
	--warning-color-hover: #f2b73d;
	--warning-color-focus: #d69c1f;
	--warning-color-disabled: #f5cd5c;
	--info-color: #0b81ef;
	--info-color-hover: #1a95f6;
	--info-color-focus: #0073d8;
	--info-color-disabled: #66b3ef;
	--active-color: #0b81ef;
	--active-color-hover: #1a95f6;
	--active-color-focus: #0073d8;
	--active-color-disabled: #66b3ef;
	--link-color: #0b81ef;
	--link-color-hover: #1a95f6;
	--link-color-focus: #0073d8;
	--link-color-disabled: #66b3ef;
}